
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

@media only screen and (max-width: 800px) {
    body {
     margin: 0;
     max-width: 100%;

    }
  }
main {
    height: 100vh;  
    font-family: 'Bitter', serif;
    
}

header{
   background-color:hsl(0,0%,20%);
   text-align: center;
   color: hsl( 0,75%,44%);  
   font-size: 35px;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    font-family: 'Playfair Display SC', serif;
}
    @media only screen and (max-width: 800px) {
        header {
          font-size: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
     }
}

span {
    color: white;
    font-size: 30px;
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0   ;
}

h1 {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0   ;
}

h3 {
    text-align: center;
    font-size: 50px;
    margin-top: 1em;
}
@media only screen and (max-width: 800px) {
    h3 {
      font-size: 175%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
  }
}

.biggrid {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1fr;
    margin-bottom: 3em;

}

@media only screen and (max-width: 800px) {
    .biggrid {
      display: inline;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

.leftside {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-right: 0px;
    display: block;
    flex-direction: column;
    text-align: center;
    margin-top: 1em;
   

}
@media only screen and (max-width: 600px) {
    .leftside {
    display: flex;
    flex-direction: row;
    padding-left: 5em;
    
    }
  }

.rightside {
    color: black;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin-right: 7em;
    line-height: 2em;
    
}

@media only screen and (max-width: 800px) {
    .rightside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-right: 1em;
      font-size: 120%;

    }
  }

.rightside>a {
    color: hsl( 0,75%,44%);
    font-weight: bold;
}

img {
    width: 40%;
}

@media only screen and (max-width: 800px) {
    .img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }
  }

.purchaselinks{
    display: flex;
    flex-direction: row;
   
   
}
@media only screen and (max-width: 800px) {
    .purchaselinks {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

    }
  }

.purchaselinks img{
    width: 100%; 
  
}

.leftside>img:hover {
    width: 50%;
    transition: 2s;
}
footer {
    background-color:hsl(0,0%,20%);
    text-align: center;
    color: hsl( 0,75%,44%);  
    font-size: 17px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Playfair Display SC', serif;
    margin-top: auto;
    font-weight: 500;
    left: 0;
     bottom: 0;
     width: 100%;
  }
  
@media only screen and (max-width: 800px) {
    footer {
     
    padding-right: 0%;
    padding-left: 0%;
      text-align: center;
        max-width: 100%;
        margin-top: 1em;
    }
  }